* {
    background-color: black;
    color: white;
}

#id {
    background-color: rgb(28, 5, 52);
    height: 200px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
}

#id1 {
    background-color: purple;
    height: 120px;
    width: 70px;
}



